{% extends 'main/base.html' %} {% block content %}
<div class="list-container">
  {% if not obavijesti %}
  <div class="empty-list">Nema upisanih obavijesti.</div>
  {% endif %}

  <a href="/obavijesti/unesi" class="cool-button list-button"
    >Unesi obavijest</a
  >

  {% for obavijest in obavijesti %}
  <div class="list-item">
    <div class="item-title">{{ obavijest.naziv }}</div>
    <br />
    {{ obavijest.opis|linebreaks }}
    <hr />
    Datum objave: {{ obavijest.datum_objave }}<br />
    Datum isteka: {{ obavijest.datum_isteka }}<br />
    Autor: {{ obavijest.autor }}<br />
    Kolegij: {{ obavijest.kolegij }}<br />
    {% if user.is_staff or obavijest.autor == user %}
    <div class="item-buttons-container">
      <a href="obavijesti/uredi/{{obavijest.id}}">Uredi obavijest</a>
      <a
        href="obavijesti/obrisi/{{obavijest.id}}"
        onClick="return confirm('Potvrdi brisanje obavijesti?')"
        >Obriši obavijest</a
      >
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock content %}
